<template>
    <div>
        <div class="alert alert-success">23</div>
    </div>
</template>

<script>
  export default {
    name: 'page-dashboard',
    data() {
      return {}
    },

    mounted() {

      socket.emit('chat message', `MSG: ${Math.random()}`);

    },

    methods: {},
  }
</script>
