<template>
    <!-- Basic pagination -->
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-body border-top-teal text-center">
                <h6 class="m-0 font-weight-semibold">Bordered pagination</h6>
                <p class="mb-3 text-muted">Default bordered pagination</p>

                <ul class="pagination align-self-center">
                    <li class="page-item"><a href="#" class="page-link">&larr; &nbsp; Prev</a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item disabled"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next &nbsp; &rarr;</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-body border-top-teal text-center">
                <h6 class="m-0 font-weight-semibold">Flat pagination</h6>
                <p class="mb-3 text-muted">Using <code>pagination-flat</code> class</p>

                <ul class="pagination pagination-flat align-self-center">
                    <li class="page-item"><a href="#" class="page-link">&larr; &nbsp; Prev</a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item disabled"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next &nbsp; &rarr;</a></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card card-body border-top-teal text-center">
                <h6 class="m-0 font-weight-semibold">Separated pagination</h6>
                <p class="mb-3 text-muted">Using <code>pagination-separated</code> class</p>

                <ul class="pagination pagination-separated align-self-center">
                    <li class="page-item"><a href="#" class="page-link">&larr; &nbsp; Prev</a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item disabled"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next &nbsp; &rarr;</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /basic pagination -->
</template>

<script>
  export default {
    data() {
      return {}
    },

    methods: {}
  }
</script>
