<template>
    <div class="admin-container">
        <navbar/>
        <div class="page-content">
            <sidebar/>
            <div class="content-wrapper">
                <page-header/>
                <div class="content">
                    <transition :name="transitionName" mode="out-in">
                        <router-view class="router-view"/>
                    </transition>
                </div>
                <page-footer/>
            </div>
        </div>
    </div>
</template>

<script>
  import Navbar from './common/Navbar'
  import Sidebar from './common/Sidebar'
  import PageHeader from './common/PageHeader'
  import PageFooter from './common/PageFooter'

  export default {
    name: 'DefaultContainer',
    components: {
      Navbar,
      Sidebar,
      PageHeader,
      PageFooter
    },
    computed: {
      transitionName() {
        return this.$route.meta.transitionName
      }
    }
  }
</script>

