<template>
    <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

        <!-- Sidebar mobile toggler -->
        <div class="sidebar-mobile-toggler text-center">
            <a href="#" class="sidebar-mobile-main-toggle">
                <i class="icon-arrow-left8"></i>
            </a>
            Navigation
            <a href="#" class="sidebar-mobile-expand">
                <i class="icon-screen-full"></i>
                <i class="icon-screen-normal"></i>
            </a>
        </div>
        <!-- /sidebar mobile toggler -->


        <!-- Sidebar content -->
        <div class="sidebar-content">

            <!-- User menu -->
            <div class="sidebar-user">
                <div class="card-body">
                    <div class="media">
                        <div class="mr-3">
                            <a href="#"><img src="../../../common/limitless/images/placeholders/placeholder.jpg"
                                             width="38" height="38" class="rounded-circle" alt=""></a>
                        </div>

                        <div class="media-body">
                            <div class="media-title font-weight-semibold">Victoria Baker</div>
                            <div class="font-size-xs opacity-50">
                                <i class="icon-pin font-size-sm"></i> &nbsp;Santa Ana, CA
                            </div>
                        </div>

                        <div class="ml-3 align-self-center">
                            <a href="#" class="text-white"><i class="icon-cog3"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /user menu -->


            <!-- Main navigation -->
            <div class="card card-sidebar-mobile">
                <ul class="nav nav-sidebar" data-nav-type="accordion">

                    <!-- Main -->
                    <li class="nav-item-header">
                        <div class="text-uppercase font-size-xs line-height-xs">Main</div>
                        <i class="icon-menu" title="Main"></i>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{name: 'auth.login'}" class="nav-link">
                            <i class="icon-user"></i>
                            <span>
                                Login
                            </span>
                        </router-link>



                    </li>
                    <li class="nav-item">
                        <router-link :to="{name: 'dashboard.index'}" class="nav-link">
                            <i class="icon-home4"></i>
                            <span>
                                Dashboard
                            </span>
                        </router-link>



                    </li>
                    <li class="nav-item nav-item-submenu nav-item-open">
                        <router-link :to="{name: 'account.index'}" class="nav-link">
                            <i class="icon-home4"></i>
                            <span>
                                Account
                                <span class="d-block font-weight-normal opacity-50">No active orders</span>
                            </span>
                        </router-link>

                        <ul class="nav nav-group-sub d-block" data-submenu-title="Layouts">
                            <li class="nav-item">
                                <router-link :to="{name: 'account.test'}" class="nav-link">
                                    <i class="icon-home4"></i>
                                    <span>Test</span>
                                </router-link>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link"><i class="icon-color-sampler"></i> <span>Themes</span></a>

                        <ul class="nav nav-group-sub" data-submenu-title="Themes">
                            <li class="nav-item"><a href="" class="nav-link active">Default</a></li>
                            <li class="nav-item"><a href="" class="nav-link">Material</a>
                            </li>
                            <li class="nav-item"><a href="" class="nav-link disabled">Dark
                                <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span></a></li>
                            <li class="nav-item"><a href="" class="nav-link disabled">Clean
                                <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span></a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</template>